.modal-bg	{
	/*background-color:	#7e8c99;*/
}
.modul	{
	position:	fixed;
	background:	#eff3f7;
	left:	40%;
	top:	20%;
	z-index:	7;
	border-radius:	5px;
	overflow:	hidden;
	width:	360px;
	height:	495px;
	font: 13pt fira_sansbook;
	color:	#a7acb8;
}
.wrapp:target	{
	display:	block;
}
.wrapp	{
	position:	fixed;
	background:	rgba(126, 140, 153, 0.5);
	height:	100%;
	width:	100%;
	z-index:	5;
	display:	none;
}
.modul .header	{
	padding:	4px 0 4px 9px;
	border-bottom:	solid 10px #67dffa;
	background:	#48cbe8;
	font: 19pt fira_sansregular;
	color:	#ffffff;
}
.close	{
	display:	inline-block;
	float:	right;
	margin:	5px 15px 0 0;
	width:	25px;
	height:	25px;
}
.new-project	{
margin:	0 0 0 15px;
}
.input	{
	width: 320px;
	height:	37px;
	margin:	5px 0 0 0;
	color: rgb(72, 203, 232);
	border-radius:	5px;
	border:	solid 1px #67dffa;
	background:	#ffffff;
	outline:	none;
}
.input::-webkit-input-placeholder	{
	color: #67dffa;
}
.add-file	{
	position: relative;
}
.input-file	{
	position:	absolute;
	opacity:	0;
	border:	solid 1px;
	top:	30px;
	width: 320px;
	height:	37px;
}
.input-bg	{
	background:	url(../images/input-file.png) 270px center no-repeat #ffffff;;
}
.last-form	{
	width:	320px;
	height:	110px;
	border-radius:	5px;
	border:	solid 1px #67dffa;
	outline:	none;
}
.last-form::-webkit-input-placeholder	{
	color: #67dffa;
}
.submit	{
	width:	140px;
	height:	35px;
	margin-left:	90px;
	font: 15pt fira_sansbook;
	background:	#48cbe8;
	color:	#ffffff;
	border-radius:	5px;
}
submit:hover	{
	box-shadow: none;
}